<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true" throwConfigExceptions="true"
      internalLogLevel="Trace">

    <targets>
        <target xsi:type="File"
                name="logfile"
                fileName="${basedir}/debug.log"
                archiveAboveSize="500000"
                maxArchiveFiles="5" />
        <target xsi:type="Console"
                name="logconsole" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>